<%- include("partials/header") %> 

      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="about_section_main">
               <div class="row">
                  <div class="col-md-6">
                     <div class="about_taital_main">
                        <h1 class="about_taital">About Us</h1>
                        <p class="about_text">Welcome to Diamond Wedding Hire, a premier event rental company founded by Laura and Andrew in 2022. As a dedicated and passionate married couple, our goal is to elevate the aesthetics of your special occasion through a wide range of premium products. We pride ourselves on offering competitive pricing and exceptional customer service to ensure a seamless event planning experience. With a commitment to continuous growth and innovation, we look forward to helping you make your event truly unforgettable.</p>
                     
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div><img src="images/about-img.png" class="image_3"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <%- include("partials/footer") %>